// Typo //
$font-family-sans-serif: 'Montserrat', sans-serif;
$line-height-computed: 1;
$headings-color: #2c3e50;
$font-size-h1:40px;
$font-size-h2:18px;

// Navigation bar//
//$navbar-margin-bottom: 20px;


// Default section //
section {
  padding: 80px 0;

  h1 {
    padding-bottom: 10px;
  }

  &.movie-intro {
    background: url(../images/hobbit-bg.jpg) no-repeat center 25%;
    background-size: cover;
    min-height: 700px;

    h1 {
      color: #ffffff;
      font-size: $font-size-h1*2;
    }

    h2 {
      font-size: $font-size-h2*1.5;
      color: #ffffff;
    }
  }

  &.trailer {
    background-color: #FFF;
    border-bottom: 1px solid darken(#FFF, 10%);
  }

  &.movie-info {
    background-color: #2196F3;
    border-bottom: 1px solid darken(#2196F3, 10%);

    h1, p {
      color: #ffffff;
    }
  }

  &.cast {
    background-color: #FFF;
    border-bottom: 1px solid darken(#FFF, 10%);

    p {
      background-color: #F5F5F5;
      padding: 20px;
    }
    img {
      width: 100%;
    }
  }

  p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 20px 0 10px 0;

    &.lead {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 0;
    }
  }
}

@import "_bootstrap";